@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
		padding: 0;
		margin: 0;
		border: 0;
}

*, *:before, *:after {
		box-sizing: border-box;
}

:focus, :active {
		outline: none;
}

a:focus, a:active {
		outline: none;
}

nav, footer, header, aside {
		display: block;
}

html, body {
		height: 100%;
		width: 100%;
		font-size: 100%;
		line-height: 1;
		font-size: 14px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}

input, button, textarea {
		font-family: inherit;
}

input::-ms-clear {
		display: none;
}

button {
		cursor: pointer;
}

button::-moz-focus-inner {
		padding: 0;
		border: 0;
}

a, a:visited {
		text-decoration: none;
}

a:hover {
		text-decoration: none;
}

ul li {
		list-style: none;
}

img {
		vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
		font-size: inherit;
		font-weight: 400;
}

/*--------------------*/
body {
		font-family: Lato, "snas-serif";
}

.container {
		max-width: 1100px;
		margin: 0 auto;
}

.wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
}

.the-main {
		background-image: url(../img/the-main/bg-header.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		flex: 1 1 auto;
}
.the-main__content {
		display: flex;
		flex: 1 1 auto;
		min-height: 100vh;
}
.the-main__content .container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
}
.the-main__logo {
		margin: 20px 0px 0px 0px;
}
.the-main__text {
		position: relative;
		color: white;
		font-weight: 900;
		text-align: center;
		margin: 30px 0px 40px 0px;
}
.the-main__text::after {
		content: "";
		position: absolute;
		width: 105px;
		height: 2px;
		background-color: white;
		margin: 0px 0px 0px -50px;
}
.the-main__title {
		line-height: 40px;
		font-size: 34px;
		letter-spacing: 5.43px;
		text-transform: uppercase;
}
@media (max-width: 770px) {
		.the-main__title {
				font-size: 24px;
				line-height: 30px;
		}
}
.the-main__subtitle {
		font-size: 26px;
		letter-spacing: 4.15px;
		font-weight: 400;
		padding: 10px 0px 40px 0px;
}
.the-main__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
}
.the-main__btn {
		border: 1px solid white;
		font-size: 16px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 0.67px;
		margin: 0px 0px 70px 0px;
}
@media (max-width: 770px) {
		.the-main__btn {
				margin: 0px 0px 40px 0px;
		}
}
.the-main__arrow {
		margin: 0px 0px 20px 0px;
		animation: arrow 1.3s infinite linear;
		position: relative;
		width: 30px;
		text-align: center;
}
@media (max-width: 770px) {
		.the-main__arrow {
				margin: 0px 0px 20px 0px;
		}
}

.btn {
		padding: 16px 45px;
		text-align: center;
}

@keyframes arrow {
		0% {
				top: 0;
		}
		50% {
				top: 10px;
		}
		100% {
				top: 0;
		}
}
.menu {
		border-bottom: 1px solid gray;
}
.menu .container {
		max-width: 422px;
		margin: 0 auto;
}
.menu__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
}
@media (max-width: 480px) {
		.menu__items {
				flex-wrap: wrap;
				flex-direction: column;
		}
}
.menu__link {
		display: flex;
		flex: 1 1 auto;
		color: black;
		font-size: 15px;
		font-weight: 700;
		padding: 22px 0;
		margin: 0 10px;
}
@media (max-width: 480px) {
		.menu__link {
				flex: 0 0 25%;
				padding: 15px;
		}
}
.menu__link_act {
		color: #b2a67d;
}

.about {
		padding: 0px 0px 20px 0px;
}
.about .container {
		max-width: 833px;
		margin: 0 auto;
}
.about__header {
		max-width: 633px;
		margin: 0 auto 65px auto;
}
@media (max-width: 880px) {
		.about__header {
				margin: 0 auto 35px auto;
		}
}
.about__text {
		color: #868585;
		font-family: Lato;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.89px;
		text-align: center;
		padding: 35px 7px 0px 7px;
}
.about__row {
		display: flex;
		justify-content: center;
}
@media (max-width: 880px) {
		.about__row {
				display: block;
				margin: 0 auto;
		}
}

.header-block {
		margin: 100px 0px 95px 0px;
}
@media (max-width: 880px) {
		.header-block {
				margin: 50px 0px 0px 0px;
		}
}

.title {
		position: relative;
		font-size: 34px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 8.95px;
		text-align: center;
		padding: 0px 0px 35px 0px;
}
.title::after {
		content: "";
		position: absolute;
		width: 81px;
		height: 2px;
		background-color: black;
		bottom: 0px;
		left: 50%;
		margin: 0px 0px 0px -45px;
}

.about-column {
		max-width: 280px;
		flex: 0 1 33.333%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 10px 10px 30px 10px;
}
@media (max-width: 880px) {
		.about-column {
				max-width: none;
		}
}
.about-column__title {
		font-size: 22px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 0px 0px 30px 0px;
}
@media (max-width: 880px) {
		.about-column__title {
				margin: 0px 0px 15px 0px;
		}
}
.about-column__text {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
		text-align: center;
}
.about-column__icon {
		width: 92px;
		height: 92px;
		border-radius: 50%;
		border: 1px solid gray;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 0px 40px 0px;
}
@media (max-width: 880px) {
		.about-column__icon {
				margin: 0px 0px 25px 0px;
		}
}
.about-column .about-column__icon_l img {
		position: relative;
		left: 5px;
}

.portfolio {
		background-color: #f3f3f3;
		padding: 107px 0px 62px 0px;
}
@media (max-width: 480px) {
		.portfolio {
				padding: 60px 0px 30px 0px;
		}
}
.portfolio__items {
		display: flex;
		margin: 0 10px;
		flex-wrap: wrap;
}
.portfolio__column {
		flex: 0 1 50%;
		padding: 10px 15px;
}
@media (max-width: 480px) {
		.portfolio__column {
				flex: 1 1 100%;
				padding: 5px 5px;
		}
}
.portfolio__column img {
		max-width: 100%;
}
.portfolio__footer {
		text-align: center;
		padding: 60px 0px 0px 0px;
}
@media (max-width: 480px) {
		.portfolio__footer {
				padding: 30px 0px 0px 0px;
		}
}
.portfolio__footer a {
		display: inline-block;
}
.portfolio__btn {
		border: 1px solid black;
		font-size: 16px;
		text-transform: uppercase;
		color: black;
		letter-spacing: 0.67px;
		background-color: #f3f3f3;
}
.portfolio__btn:hover {
		background-color: black;
		color: #f3f3f3;
		transition: background 0.5s linear;
		border: 1px solid #f3f3f3;
}

.filter__list {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 50px 0px 130px 0px;
}
@media (max-width: 880px) {
		.filter__list {
				margin: 50px 0px 70px 0px;
		}
}
@media (max-width: 380px) {
		.filter__list {
				margin: 30px 0px 40px 0px;
		}
}
.filter__item {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 25px;
		cursor: pointer;
}
@media (max-width: 380px) {
		.filter__item {
				margin: 0 15px;
		}
}
.filter__item:hover {
		color: #b5a982;
}
.filter .act {
		color: #b5a982;
}